@font-face {
    font-family: 'Octin Sports';
    src: url('OctinSports-Regular.woff2') format('woff2'),
        url('OctinSports-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

